@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Parolanız başarıyla yenilenmiştir. Lütfen <a asp-action="Login">buraya tıklaray giriş yapınız</a>.
</p>
