@{
    ViewData["Title"] = "İletisim";
}
<div style="background-image: url(http://ch20webmaster.com/wp-content/uploads/2018/01/Beach-Background-Ch027b.jpg); background-repeat:round;">

    <h1>@ViewData["Title"]</h1>

    <address style="color:#000000; font-size:20px; font-family:'Times New Roman'; font-weight:700;">
        MK Turizm İletisim Bilgileri<br / >
        Kazımdirik Mahallesi, Bornova Metro İstasyonu, 35100 Bornova/İzmir<br / >
        Telefon : (0232) 388 72 21


    </address>

    <address style="color:#000000; font-size:20px; font-family:'Times New Roman'">
        <strong> Destek&Bilgi:</strong> <a href="mailto:Support@example.com"> <strong>mertcantakil@gmail.com</strong></a> <br / >
        <strong> Rezervasyon:</strong> <a href="mailto:Marketing@example.com"> <strong>konuralpguler@gmail.com</strong></a>
    </address>


</div>
<hr/>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3124.284683785604!2d27.21121531524062!3d38.457988479640804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b97d2edf7e8e55%3A0x5fcc67a77466c8f3!2zRWdlIMOcbml2ZXJzaXRlc2kgQmlsZ2lzYXlhciBNw7xoZW5kaXNsacSfaSBCw7Zsw7xtw7w!5e0!3m2!1str!2str!4v1525954814907" width="800" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>



